<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.accountpilot.fda-helper</string>
    <key>CFBundleName</key>
    <string>AccountPilot FDA Helper</string>
    <key>CFBundleDisplayName</key>
    <string>AccountPilot FDA Helper</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.1</string>
    <key>CFBundleVersion</key>
    <string>0.1.1</string>
    <key>CFBundleExecutable</key>
    <string>accountpilot-fda-helper</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSUIElement</key>
    <true/>
    <key>LSBackgroundOnly</key>
    <true/>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright (C) 2026 Hasan Arda Eren. AGPL-3.0-or-later.</string>
</dict>
</plist>
